@import '../../styles/colors';

.Home {
    color: $color1;
    margin: auto;
    text-align: center;
}

.description {
  padding-top: 50px;
  font-size: 20px;
}

.Dropdown {
  padding-top: 50px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Graph {
  padding-top: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
